#reg {
  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .input {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      min-width: 17rem;
      width: 100%;

      margin-bottom: 1.5rem;

      input {
        width: 100%;
      }
    }

    input {
      min-width: 12.5rem;
      min-height: 1.75rem;
    }
  }
}